
#root{
  display: grid;
  grid-template-areas: 
  'cabecalho cabecalho'
  'ladoEsquerdo principal'
  'rodape rodape';
  grid-template-rows: 64px 1fr 88px;
  grid-template-columns: 288px 1fr;
}

aside{
  background-color:orangered;
  grid-area: ladoEsquerdo;
}

main{
  background-color: yellow;
  grid-area: principal;
}

footer{
  background-color: black;
  grid-area: rodape;
}